* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
li a {
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    color: #ffd020;
    text-decoration: underline;
}
